/bin/
/build/bin/
/frontend/dist/
/frontend/node_modules/
*.log
.DS_Store
Thumbs.db
*.exe
secrets.json
frontend/package.json.md5
.idea/
.vscode/
internal/engine/win32/mpv/mpv.exe
internal/engine/*/mpv/mpv.exe
internal/engine/*/mpv/mpv
internal/engine/**/*.exe
